.idea
venv
__pycache__
data
SQL/Lesson 2/lesson_3_06.07.2021.sql
Python_libs_for_Data_Science(extra)/course_project/data
Python_libs_for_Data_Science(extra)/webinars

Methods_of_collecting_and_processing_data_from_the_Internet/lesson1/config.py
