.idea
venv
__pycache__
data
SQL/Lesson 2/lesson_3_06.07.2021.sql
Python_libs_for_Data_Science(extra)/course_project/data
Python_libs_for_Data_Science(extra)/webinars

Methods_of_collecting_and_processing_data_from_the_Internet/lesson1/config.py

Methods_of_collecting_and_processing_data_from_the_Internet/lesson5/geckodriver

Methods_of_collecting_and_processing_data_from_the_Internet/lesson5/geckodriver.log

Methods_of_collecting_and_processing_data_from_the_Internet/lesson5/lesson5.ipynb

Methods_of_collecting_and_processing_data_from_the_Internet/lesson7/leroymerlin_parse/photos

Megafon_course_project/Course_Project/catboost_info/

Megafon_course_project/Course_Project/pipeline.pkl
Megafon_course_project/Course_Project/best_model.pkl

Megafon_course_project/best_model.zip
